.popular-card-img {
  width: 16.5rem;
  height: 22rem;
}
.img-size {
  width: 13.166rem;
  height: 17.555rem;
}
.card-size {
  width: 13.166rem;
  height: 18.555rem;
  margin-left: 20px;
  margin-right: 20px;
}
.percentage-box {
  bottom: -1.75rem;
  right: -1px;
}
.game-img {
  width: 16.566rem;
  height: 22rem;
}
.upcoming-img-box {
  width: 15.563rem !important;
  height: 20.75rem !important;
}
@media (max-width: 1025px) {
  .img-size {
    width: 16.5rem;
    height: 22rem;
  }
  .percentage-box {
    bottom: -0.65rem;
    right: -1px;
  }
  .card-size {
    width: 16.5rem;
    height: 23.75rem;
  }
}
